In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
data=pd.read_csv("Price.csv")
data

,कृषि उपज,ईकाइ,न्यूनतम,अधिकतम,औसत,cdate,pricetype
0,गोलभेडा ठूलो(नेपाली),के.जी.,30,35,33,02/25/2018,W
1,गोलभेडा सानो,के.जी.,25,30,28,02/25/2018,W
2,अालु रातो,के.जी.,20,23,22,02/25/2018,W
3,अालु सेतो,के.जी.,18,20,19,02/25/2018,W
4,प्याज सुकेको भारतीय,के.जी.,44,46,45,02/25/2018,W
...,...,...,...,...,...,...,...
99297,लसुन सुकेको नेपाली,के.जी.,600,620,610,02/15/2020,R
99298,ताजा माछा(रहु),के जी,320,330,325,02/15/2020,R
99299,ताजा माछा(बचुवा),के जी,280,300,290,02/15/2020,R
99300,ताजा माछा(छडी),के जी,280,300,290,02/15/2020,R
99301,ताजा माछा(म‌ंुगरी),के जी,310,320,315,02/15/2020,R

### Find the name of vegetables

In [45]:
 vegetable_name=data['कृषि उपज'].unique()
 print( vegetable_name)

['गोलभेडा ठूलो(नेपाली)' 'गोलभेडा सानो' 'अालु रातो' 'अालु सेतो'
 'प्याज सुकेको भारतीय' 'गाजर(लोकल)' 'बन्दा(लोकल)' 'काउली स्थानिय'
 'काउली तरार्इ' 'मूला रातो' 'मूला सेतो(लोकल)' 'भन्टा लाम्चो' 'भन्टा डल्लो'
 'मटरकोशा' 'घिउ सिमी(लोकल)' 'टाटे सिमी' 'लौका' 'फर्सी पाकेको'
 'फर्सी हरियो(लाम्चो)' 'भिण्डी' 'बरेला' 'पिंडालू' 'स्कूस' 'रायो साग'
 'पालूगो साग' 'चमसूरको साग' 'तोरीको साग' 'मेथीको साग' 'प्याज हरियो'
 'बकूला' 'तरुल' 'च्याउ(कन्य)' 'ब्रोकाउली' 'चुकुन्दर' 'जिरीको साग'
 'ग्याठ कोबी' 'सेलरी' 'पार्सले' 'सौफको साग' 'पुदीना' 'गान्टे मूला' 'इमली'
 'तामा' 'तोफु' 'गुन्दुक' 'स्याउ(झोले)' 'केरा' 'कागती' 'अनार'
 'अंगुर(हरियो)' 'सुन्तला(नेपाली)' 'तरबुजा(हरियो)' 'मौसम' 'भुर्इ कटहर'
 'काक्रो(लोकल)' 'रुख कटहर' 'नासपाती(लोकल)' 'मेवा(नेपाली)' 'लप्सी' 'अदुवा'
 'खु्र्सानी सुकेको' 'खु्र्सानी हरियो' 'भेडे खु्र्सानी' 'लसुन हरियो'
 'हरियो धनिया' 'लसुन सुकेको चाइनिज' 'लसुन सुकेको नेपाली' 'माछा ताजा'
 'रातो बन्दा' 'तितो करेला' 'परवर(लोकल)' 'छ्यापी हरियो' 'बोडी(तने)' 'सजिवन'
 'कोइरालो' 'घिरौला' 'आँप(मालदह)' 'चिचिण्डो' 'न्यूरो' 'लीच्ची(लोकल)'
 'भटमासकोशा' 'झिगूनी' 'अम्बा' 'कुरीलो' 'सखरखण्ड' 'छ्यापी सुकेको'
 'गोलभेडा सानो(टनेल)' 'आलु रातो(भारतीय)' 'च्याउ(डल्ले)' 'स्याउ(फूजी)'
 'काक्रो(हाइब्रीड)' 'खुर्सानी हरियो(बुलेट)' 'खुर्सानी हरियो(माछे)'
 'खुर्सानी हरियो(अकबरे)' 'ताजा माछा(रहु)' 'ताजा माछा(बचुवा)'
 'ताजा माछा(छडी)' 'ताजा माछा(म\u200cंुगरी)' 'सेतो मूला(हाइब्रीड)'
 'मकै बोडी' 'घिउ सिमी(हाइब्रीड)' 'घिउ सिमी(राजमा)' 'हरियो फर्सी(डल्लो)'
 'अाँप(दसहरी)' 'तरबुजा(पाटे)' 'मेवा(भारतीय)' 'लीच्ची(भारतीय)'
 'बन्दा(नरिवल)' 'आलु रातो(मुडे)' 'ठूलो गोलभेडा(भारतीय)' 'नासपाती(चाइनिज)'
 'गोलभेडा सानो(भारतीय)' 'सुन्तला(भारतीय)' 'गाजर(तराई)'
 'गोलभेडा सानो(तराई)' 'सुकेको प्याज चाइनिज' 'बन्दा(तराई)'
 'स्थानीय काउली(ज्यापु)' 'परवर(तराई)' 'अंगुर(कालो)']

###  Find the total number of vegetables

In [33]:
vegetable_length=len(vegetable_name)
print("There are {} unique vegetables.".format(vegetable_length))

There are 120 unique vegetables.

### Find the minimum price  of vegetable

In [46]:
min_price=data.न्यूनतम.min()
print( "Minimun price of vegetables is Rs.",min_price)

Minimun price of vegetables is Rs. 1

### count the number of vegetables whose price is Rs.1

In [35]:
min_price_vegetable=data[data.न्यूनतम==1]
length_min_price=len(min_price_vegetable)
print("There are {} vegetables whose price is Rs.{}".format(length_min_price,min_price))

There are 3 vegetables whose price is Rs.1

### Find the details about minimum price vegetables

In [36]:

print(min_price_vegetable)

            कृषि उपज    ईकाइ  न्यूनतम  अधिकतम  औसत       cdate pricetype
25011         झिगूनी  के.जी.        1      48   31  09/09/2018         W
36257  काउली स्थानिय  के.जी.        1      40   21  12/09/2018         R
37157  तरबुजा(हरियो)  के.जी.        1      55   28  12/16/2018         W

### Find the maximum price  of vegetable

In [37]:
max_price=data.अधिकतम.max()

print( "Maximum price of vegetables is Rs.",max_price)

Maximum price of vegetables is Rs. 1650

### count the number of vegetables whose price is Rs.1650

In [38]:
max_price_vegetable=data[data.अधिकतम==1650]
len_max_price_vegetable=len(max_price_vegetable)
print("There are {} vegetables whose price is Rs.{}".format(len_max_price_vegetable,max_price))

There are 6 vegetables whose price is Rs.1650

## Find the details about maximum price vegetables

In [39]:
# detail_max=data[data.अधिकतम==data.अधिकतम.max()]
detail_max=data[data.अधिकतम==1650]
print(detail_max)

     कृषि उपज    ईकाइ  न्यूनतम  अधिकतम   औसत       cdate pricetype
5431    कागती  के.जी.     1600    1650  1625  04/06/2018         R
5843    कागती  के.जी.     1600    1650  1625  04/09/2018         R
5981    कागती  के.जी.     1600    1650  1625  04/10/2018         R
6117    कागती  के.जी.     1600    1650  1625  04/11/2018         R
6251    कागती  के.जी.     1600    1650  1625  04/12/2018         R
6385    कागती  के.जी.     1600    1650  1625  04/13/2018         R

## count the number of vegetables whose pricetype is R

In [40]:

# total_data=data.pricetype
# print("Total dataset is",len(total_data))

In [49]:
retail_data=data[data.pricetype=='R']
length_retail_data=len(retail_data)
print("Total number of retail pricetype are ",length_retail_data)

Total number of retail pricetype are  49646

## count the number of vegetables whose pricetype is W

In [42]:
wholesale_data=data[data.pricetype=='W']
length_wholesale_data=len(wholesale_data)
print("Total  number of wholesale pricetype is",length_wholesale_data)

Total  number of wholesale pricetype is 49656

## Find the total number of difference between wholesale and retail pricetype

In [43]:

difference=length_wholesale_data-length_retail_data
print("Total number of difference between wholesale and retail pricetype is",difference)

Total number of difference between wholesale and retail pricetype is 10